name: Build Kernel

on:
  workflow_dispatch:
    inputs:
      repo:
        description: 'Manifest repo'
        required: false
      branch:
        description: 'Manifest repo branch'
        required: true
        default: 'oneplus/sm8475'
      file:
        description: 'Manifest file name'
        required: true
        default: 'oneplus_ace2_v.xml'
      kernel_suffix:
        description: 'Kernel suffix'
        required: true
        default: '-android12-9-o-g4beca10de372-hath'
      codename:
        description: 'CPU codename'
        required: true
        default: 'waipio'
      sukisu_enable:
        description: "Enable SukiSU-Ultra"
        required: true
        type: boolean
        default: true
      kpm_enable:
        description: "Enable KernelPatch module"
        required: true
        type: boolean
        default: true
      sukisu_hook:
        description: 'SUSFS / Hook type selection'
        required: true
        type: choice
        default: susfs
        options:
          - susfs
          - manual
          - kprobes

permissions: 
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Maximize build space
        uses: easimon/maximize-build-space@master
        with:
          root-reserve-mb: 8192
          temp-reserve-mb: 2048
          remove-dotnet: 'true'
          remove-android: 'true'
          remove-haskell: 'true'
          remove-codeql: 'true'

      - name: Install dependencies
        uses: awalsh128/cache-apt-pkgs-action@latest
        with:
          packages: python3 git curl
          execute_install_scripts: true

      - name: Configure Git
        run: |
          git config --global user.name "LeafStative"
          git config --global user.email "leafstative@gmail.com"

      - name: Checkout
        uses: actions/checkout@v5

      - name: Configure init arguments
        id: init_args
        run: |
          args=''
          output_string=`echo '_${{ inputs.file }}' | sed -E 's/(_[a-z])?\.xml$//'`

          if [[ '${{ inputs.repo }}' ]]; then
            args+=" -r '${{ inputs.repo }}'"
          fi

          if [[ '${{ inputs.sukisu_enable }}' == true ]]; then
            args+=' -k'
            output_string+='_SKSU'

            if [[ '${{ inputs.kpm_enable }}' == true ]]; then
              args+=' -K'
              output_string+='_KPM'
            fi

            case '${{ inputs.sukisu_hook }}' in
              susfs)
                output_string+='_SUSFS'
                ;;
              manual)
                args+=' -H manual'
                output_string+='_MANUAL'
                ;;
              kprobes)
                args+=' -H kprobes'
                output_string+='_KPROBES'
                ;;
            esac
          fi

          echo "args=$args" >> $GITHUB_OUTPUT
          echo "output_string=$output_string" >> $GITHUB_OUTPUT

      - name: Init
        run: |
          ./scripts/init.sh \
            -b '${{ inputs.branch }}' \
            -f '${{ inputs.file }}' \
            -s '${{ inputs.kernel_suffix }}' \
            -c '${{ inputs.codename }}'${{ steps.init_args.outputs.args }}

      - name: Download source code
        run: |
          ./scripts/download_src.sh

      - name: Apply patches
        run: |
          ./scripts/apply_patches.sh

      - name: Build kernel
        run: |
          ./scripts/build.sh

      - name: Make AnyKernel3
        run: |
          ./scripts/make_ak3.sh

      - name: Upload AnyKernel3
        uses: actions/upload-artifact@v5
        with:
          name: 'AnyKernel3${{ steps.init_args.outputs.output_string }}${{ inputs.kernel_suffix }}'
          path: ./workspace/AnyKernel3/*

      - name: Upload kernel
        uses: actions/upload-artifact@v5
        with:
          name: 'Image${{ steps.init_args.outputs.output_string }}${{ inputs.kernel_suffix }}'
          path: ./workspace/out/dist/Image
