name: Build OnePlus 6/6T Kernel

on:
  workflow_dispatch:
    inputs:
      repo:
        description: 'Kernel source repo'
        required: false
        default: 'LineageOS/android_kernel_oneplus_sdm845'
      branch:
        description: 'Kernel source repo branch'
        required: false
      kernel_suffix:
        description: 'Kernel version suffix'
        required: false
        default: '-hath'
      baseband_guard_enable:
        description: "Enable Baseband-guard"
        required: true
        type: boolean
        default: true
      sukisu_enable:
        description: "Enable SukiSU-Ultra"
        required: true
        type: boolean
        default: true
      sukisu_debug:
        description: "SukiSU-Ultra debug mode"
        required: true
        type: boolean
        default: false
      kpm:
        description: "KernelPatch module support"
        required: true
        type: choice
        default: full
        options:
          - full
          - compile-only
          - none
      susfs_enabled:
        description: 'Enable susfs'
        required: true
        type: boolean
        default: true

permissions: 
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Maximize build space
        uses: easimon/maximize-build-space@master
        with:
          root-reserve-mb: 8192
          temp-reserve-mb: 2048
          remove-dotnet: 'true'
          remove-android: 'true'
          remove-haskell: 'true'
          remove-codeql: 'true'

      - name: Install dependencies
        uses: awalsh128/cache-apt-pkgs-action@latest
        with:
          packages: python3 git curl
          execute_install_scripts: true

      - name: Configure Git
        run: |
          git config --global user.name "LeafStative"
          git config --global user.email "leafstative@gmail.com"

      - name: Checkout
        uses: actions/checkout@v5

      - name: Configure init arguments
        id: init_args
        run: |
          args=''
          output_string='_oneplus_6_6t'

          if [[ '${{ inputs.repo }}' ]]; then
            args+=" -r '${{ inputs.repo }}'"
          fi

          if [[ '${{ inputs.branch }}' ]]; then
            args+=" -b '${{ inputs.branch }}'"
          fi

          if [[ '${{ inputs.kernel_suffix }}' ]]; then
            args+=" -S '${{ inputs.kernel_suffix }}'"
          fi

          if [[ '${{ inputs.baseband_guard_enable }}' == true ]]; then
            args+=' -B'
            output_string+='_BBG'
          fi

          if [[ '${{ inputs.sukisu_enable }}' == true ]]; then
            args+=' -k'
            output_string+='_SKSU'

            if [[ '${{ inputs.sukisu_debug }}' == true ]]; then
              args+=' -d'
              output_string+='_DEBUG'
            fi

            case '${{ inputs.kpm }}' in
              full)
                args+=' -K full'
                output_string+='_KPM'
                ;;
              compile-only)
                args+=' -K compile-only'
                output_string+='_KPMCO'
                ;;
            esac

            if [[ '${{ inputs.susfs_enabled }}' == true ]]; then
              output_string+='_SUSFS'
            else
              args+=' -s false'
            fi
          fi

          echo "args=$args" >> $GITHUB_OUTPUT
          echo "output_string=$output_string" >> $GITHUB_OUTPUT

      - name: Init
        run: |
          ./scripts/non_gki/oneplus_6_6t_sdm845/init.sh${{ steps.init_args.outputs.args }}

      - name: Download source code
        run: |
          ./scripts/non_gki/oneplus_6_6t_sdm845/download_src.sh

      - name: Apply patches
        run: |
          ./scripts/non_gki/oneplus_6_6t_sdm845/apply_patches.sh

      - name: Build kernel
        run: |
          ./scripts/non_gki/oneplus_6_6t_sdm845/build.sh

      - name: Make AnyKernel3
        run: |
          ./scripts/non_gki/oneplus_6_6t_sdm845/make_ak3.sh

      - name: Upload AnyKernel3
        uses: actions/upload-artifact@v5
        with:
          name: 'AnyKernel3${{ steps.init_args.outputs.output_string }}${{ inputs.kernel_suffix }}'
          path: ./workspace/AnyKernel3/*

      - name: Upload kernel
        uses: actions/upload-artifact@v5
        with:
          name: 'Image${{ steps.init_args.outputs.output_string }}${{ inputs.kernel_suffix }}'
          path: ./workspace/AnyKernel3/Image
